.iitkHeading{
    font-family: Karantina, system-ui;
    font-weight: 400;
    /* position: absolute; */
    /* fontWeight: "400", fontSize: "90px",fontFamily: "Karantina, system-ui",fontSize: "200px",fontWeight: "400",background: "linear-gradient(83.55deg, #377DAF 33.64%, #FFFFFF 103.03%)" */
    font-size: 200px;
    background: linear-gradient(83.55deg, #377DAF 33.64%, #FFFFFF 103.03%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.startupsHeading{
    font-family: Karantina, system-ui;
    font-weight: 400;
    font-size: 200px;
    background: linear-gradient(279.16deg, #377CAF 1.74%, #FFFDFD 112.62%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}